<template>
  <v-container>
    <v-row>
      <v-col>
        <h1>Product {{ productData.name }}</h1>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-row style="height: 500px">
          <v-col class="h-100">
            <v-img :src="productData.image.url" :alt="productData.image.label" />
          </v-col>
        </v-row>
        <v-row style="height: 150px">
          <v-col v-for="image in productData.media_gallery" :key="image.url" class="h-100" :cols="2">
            <v-img :src="image.url" :alt="image.label" />
          </v-col>
        </v-row>
      </v-col>
      <v-col>
        <div v-html="productData.description.html" />
        <div>
          <span :class="{'text-red': productData.price_range.minimum_price.final_price.value < productData.price_range.minimum_price.regular_price.value}">{{ productData.price_range.minimum_price.final_price.value }} {{ productData.price_range.minimum_price.final_price.currency }}</span>
          <s class="ml-3 text-grey">{{ productData.price_range.minimum_price.regular_price.value }} {{ productData.price_range.minimum_price.regular_price.currency }}</s>
        </div>
        <v-btn size="x-large" color="green" append-icon="mdi-cart">
          Add to cart
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
const route = useRoute();

const productQuery = gql`
  query getProducts($filter: ProductAttributeFilterInput $pageSize: Int $currentPage: Int) {
    products(filter: $filter pageSize: $pageSize currentPage: $currentPage) {
      items {
        uid
        sku
        name
        description {
          html
        }
        image {
          url
          label
        }
        media_gallery {
          url
          label
        }
        price_range {
          minimum_price {
            final_price {
              currency
              value
            }
            regular_price {
              currency
              value
            }
          }
        }
      }
    }
  }
`;

const productData = ref();

const productsVariables = computed(() => ({
  filter: {
    url_key: {
      eq: route.params.slug
    }
  }
}));

async function getProductsData () {
  const { data } = await useAsyncQuery(productQuery, productsVariables.value);
  if (data.value) {
    productData.value = data.value.products.items[0];
  }
}

await getProductsData();
</script>
