<template>
  <v-container>
    <v-row>
      <v-col>
        <h1>{{ currentCategory?.name }}</h1>
      </v-col>
    </v-row>
    <v-row v-if="currentCategory">
      <v-col v-for="cat in currentCategory.children" :key="cat.uid">
        <v-btn :to="{name: 'category', params: {category: cat.url_path}}">
          {{ cat.name }} ({{ cat.product_count }})
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <h2>Products</h2>
        <v-row>
          <v-col v-for="product in productsData.products.items" :key="product.uid" :cols="2">
            <v-card>
              <v-img :src="product.small_image.url" :alt="product.small_image.label" />
              <v-card-title>{{ product.name }}</v-card-title>
              <v-card-text>
                <div>
                  <span :class="{'text-red': product.price_range.minimum_price.final_price.value < product.price_range.minimum_price.regular_price.value}">{{ product.price_range.minimum_price.final_price.value }} {{ product.price_range.minimum_price.final_price.currency }}</span>
                  <s class="ml-3 text-grey">{{ product.price_range.minimum_price.regular_price.value }} {{ product.price_range.minimum_price.regular_price.currency }}</s>
                </div>
              </v-card-text>
              <v-card-actions>
                <v-btn :to="{name: 'product-slug', params: {slug: product.url_key}}" block color="blue">
                  Detail
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
        <div v-if="canLoadMoreProducts" class="text-center">
          <v-btn class="mt-5" @click="getProductsData(true)">
            Load more
          </v-btn>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
const route = useRoute();

const categoryQuery = gql`
  query getCategories($filters: CategoryFilterInput $pageSize: Int $currentPage: Int) {
    categories(filters: $filters pageSize: $pageSize currentPage: $currentPage) {
      total_count
      items {
        id
        uid
        level
        name
        path
        url_path
        children {
          uid
          level
          name
          path
          url_path
          children_count
          product_count
        }
      }
      page_info {
        current_page
        page_size
        total_pages
      }
    }
  }
`;

const productQuery = gql`
  query getProducts($filter: ProductAttributeFilterInput $pageSize: Int $currentPage: Int) {
    products(filter: $filter pageSize: $pageSize currentPage: $currentPage) {
      total_count
      items {
        uid
        sku
        name
        url_key
        small_image {
          url
          label
        }
        price_range {
          minimum_price {
            final_price {
              currency
              value
            }
            regular_price {
              currency
              value
            }
          }
        }
      }
      page_info {
        current_page
        page_size
        total_pages
      }
    }
  }
`;

const categoryData = ref();
const productsData = ref();
const productPage = ref<number>(1);

const categoryVariables = computed(() => ({
  filters: {
    url_path: {
      eq: route.params.category
    }
  }
}));

const productsVariables = computed(() => ({
  filter: {
    category_uid: {
      eq: currentCategory.value.uid
    }
  },
  currentPage: productPage.value
}));

const currentCategory = computed(() => {
  if (categoryData.value) {
    return categoryData.value.categories.items[0];
  }
});

const canLoadMoreProducts = computed<boolean>(() => {
  if (productsData.value) {
    return productsData.value.products.page_info.current_page < productsData.value.products.page_info.total_pages;
  } else {
    return false;
  }
});

async function getCategoryData () {
  const { data } = await useAsyncQuery(categoryQuery, categoryVariables.value);
  if (data.value) {
    categoryData.value = data.value;
  }
}

async function getProductsData (loadMore: boolean = false) {
  // Load more products does not work yet, because of CORS
  if (loadMore) {
    productPage.value++;
  }
  const { data } = await useAsyncQuery(productQuery, productsVariables.value);
  if (data.value) {
    if (loadMore) {
      productsData.value.products.items.push(...data.value!.products.items);
    } else {
      productsData.value = data.value;
    }
  }
}

await getCategoryData();
await getProductsData();
</script>
