<template>
  <v-container>
    <h1>Categories</h1>
    <div v-if="error">
      {{ error }}
    </div>
    <div v-if="data">
      <v-row>
        <v-col v-for="cat in data.categories.items[0].children" :key="cat.uid">
          <v-btn :to="{name: 'category', params: {category: cat.url_path}}">
            {{ cat.name }} ({{ cat.product_count }})
          </v-btn>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>

<script setup lang="ts">
const query = gql`
  query getCategories($filters: CategoryFilterInput $pageSize: Int $currentPage: Int) {
    categories(filters: $filters pageSize: $pageSize currentPage: $currentPage) {
      total_count
      items {
        uid
        level
        name
        path
        url_path
        children {
          uid
          level
          name
          path
          url_path
          product_count
        }
      }
      page_info {
        current_page
        page_size
        total_pages
      }
    }
  }
`;

const variables = {};
const { data, error } = await useAsyncQuery(query, variables);
</script>
